# Laravel Standard Ignore Rules
/vendor
/node_modules
/public/storage
/public/build
/public/hot

# Environment & Keys
.env
.env.backup
.env.production
/auth.json
/storage/*.key
/storage/pail

# IDEs & System Files
/.vscode
/.idea
/.fleet
/.nova
/.zed
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# Cache & Logs
*.log
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
